# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# Import your libraries:
import pandas as pd
import numpy as numpy

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_diabetes.html)).

In [2]:
# Your code here:
from sklearn import datasets
diabetes = datasets.load_diabetes()

Let's explore this variable by looking at the different attributes (keys) of `diabetes`. Note that the `load_diabetes` function does not return dataframes. It returns you a Python dictionary.

In [3]:
# Your code here:
diabetes

{'data': array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
          0.01990842, -0.01764613],
        [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
         -0.06832974, -0.09220405],
        [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
          0.00286377, -0.02593034],
        ...,
        [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
         -0.04687948,  0.01549073],
        [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
          0.04452837, -0.02593034],
        [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
         -0.00421986,  0.00306441]]),
 'target': array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
         69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
         68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
         87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
        259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
        128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
        150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
        200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
         42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
         83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
        104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
        173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
        107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
         60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
        197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
         59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
        237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
        143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
        142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
         77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
         78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
        154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
         71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
        150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
        145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
         94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
         60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
         31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
        114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
        191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
        244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
        263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
         77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
         58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
        140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
        219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
         43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
        140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
         84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
         94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
        220.,  57.]),
 'frame': None,
 'DESCR': '.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - age     age in years\n      - sex\n      - bmi     body mass index\n      - bp      average blood pressure\n      - s1      tc, T-Cells (a type of white blood cells)\n      - s2      ldl, low-density lipoproteins\n      - s3      hdl, high-density lipoproteins\n      - s4      tch, thyroid stimulating hormone\n      - s5      ltg, lamotrigine\n      - s6      glu, blood sugar level\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)',
 'feature_names': ['age',
  'sex',
  'bmi',
  'bp',
  's1',
  's2',
  's3',
  's4',
  's5',
  's6'],
 'data_filename': '/opt/anaconda3/lib/python3.8/site-packages/sklearn/datasets/data/diabetes_data.csv.gz',
 'target_filename': '/opt/anaconda3/lib/python3.8/site-packages/sklearn/datasets/data/diabetes_target.csv.gz'}

#### The next step is to read the description of the dataset. 

Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable. Read the data description carefully to fully understand what each column represents.

*Hint: If your output is ill-formatted by displaying linebreaks as `\n`, it means you are not using the `print` function.*

In [4]:
# Your code here:
print(diabetes.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, T-Cells (a type of white blood cells)
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, thyroid stimulating hormone
      - s5      ltg, lamotrigine
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

#### Based on the data description, answer the following questions:

1. How many attributes are there in the data? What do they mean?

1. What is the relation between `diabetes['data']` and `diabetes['target']`?

1. How many records are there in the data?

In [5]:
# Enter your answer here:
# How many attributes are there in the data? What do they mean?
"""There are 10 attributes in our data. Before analysis after that we create a new column called TARGET which is the
quantitative measure of disease progression one year after baseline"""

'There are 10 attributes in our data. Before analysis after that we create a new column called TARGET which is the\nquantitative measure of disease progression one year after baseline'

In [6]:
# What is the relation between diabetes['data'] and diabetes['target']?
diabetes['data'] 
diabetes['target']
"Both are numeric values, both are array of elements."

'Both are numeric values, both are array of elements.'

In [7]:
# How many records are there in the data?
"""There are 442 records in the data"""

'There are 442 records in the data'

#### Now explore what are contained in the *data* portion as well as the *target* portion of `diabetes`. 

Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). Inspect the shape of `data` and `target`. Confirm they are consistent with the data description.

In [8]:
# Your code here:
data = diabetes.data
data.shape # (442, 10)

(442, 10)

In [9]:
target = diabetes.target
target.shape

(442,)

In [10]:
"""They are inconsistent, the number of rows are 442 but columns size is different for data we can see 10 columns 
but in target there is no column."""

'They are inconsistent, the number of rows are 442 but columns size is different for data we can see 10 columns \nbut in target there is no column.'

# Challenge 2 - Perform Supervised Learning on the Dataset

The data have already been split to predictor (*data*) and response (*target*) variables. Given this information, we'll apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset.

#### Let's briefly revisit the linear regression formula:

```
y = β0 + β1X1 + β2X2 + ... + βnXn + ϵ
```

...where:

- X1-Xn: data 
- β0: intercept 
- β1-βn: coefficients 
- ϵ: error (cannot explained by model)
- y: target

Also take a look at the `sklearn.linear_model.LinearRegression` [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).

#### In the cell below, import the `linear_model` class from `sklearn`.

In [11]:
# Your code here:
import sklearn
from sklearn.linear_model import LinearRegression
sklearn.linear_model.LinearRegression

sklearn.linear_model._base.LinearRegression

#### Create a new instance of the linear regression model and assign the new instance to the variable `diabetes_model`.

In [12]:
# Your code here:
diabetes_model = LinearRegression()

#### Next, let's split the training and test data.

Define `diabetes_data_train`, `diabetes_target_train`, `diabetes_data_test`, and `diabetes_target_test`. Use the last 20 records for the test data and the rest for the training data.

In [13]:
# Your code here:
from sklearn.model_selection import train_test_split
diabetes_data_train, diabetes_data_test, diabetes_target_train, diabetes_target_test = train_test_split(data, target, train_size = 422, test_size=20, random_state=42)

Fit the training data and target to `diabetes_model`. Print the *intercept* and *coefficients* of the model.

In [14]:
# Your code here:
diabetes_model.fit(diabetes_data_train, diabetes_target_train)

LinearRegression()

In [15]:
diabetes_model.score(data, target)

0.5168145881186753

In [16]:
diabetes_model.coef_

array([   0.87966595, -260.26800233,  536.46481603,  335.99923883,
       -835.78112685,  465.75770705,  136.19550049,  245.0609637 ,
        712.32643264,   64.48617517])

In [17]:
diabetes_model.intercept_

151.38210666917573

#### Inspecting the results

From the outputs you should have seen:

- The intercept is a float number.
- The coefficients are an array containing 10 float numbers.

This is the linear regression model fitted to your training dataset.

#### Using your fitted linear regression model, predict the *y* of `diabetes_data_test`.

In [18]:
# Your code here:
diabetes_model.predict(diabetes_data_test)

array([141.94686988, 176.31976585, 134.5341238 , 287.22045065,
       122.57807055,  96.46149132, 256.84813303, 184.79985601,
        92.90725729, 111.3887892 ,  98.52768466, 166.01352105,
        58.4586336 , 205.09969714, 100.7305117 , 130.33699952,
       218.46174455, 245.87678056, 192.99982451, 214.38094289])

#### Print your `diabetes_target_test` and compare with the prediction.

In [19]:
# Your code here:
diabetes_target_test

array([219.,  70., 202., 230., 111.,  84., 242., 272.,  94.,  96.,  94.,
       252.,  99., 297., 135.,  67., 295., 264., 170., 275.])

#### Is `diabetes_target_test` exactly the same as the model prediction? Explain.

In [20]:
# Your explanation here:
"""No, diabetes_target_test is different from the model predicted. When I did the model score for both data and target
I can only see 51.6 chance of coefficient."""

'No, diabetes_target_test is different from the model predicted. When I did the model score for both data and target\nI can only see 51.6 chance of coefficient.'

# Bonus Challenge 1 - Hypothesis Testing with `statsmodels`

After generating the linear regression model from the dataset, you probably wonder: then what? What is the statistical way to know if my model is reliable or not?

Good question. We'll discuss that using Scikit-Learn in Challenge 5. But for now, let's use a fool-proof way by using the ([Linear Regression class of StatsModels](https://www.statsmodels.org/dev/regression.html)) which can also conduct linear regression analysis plus much more such as calcuating the F-score of the linear model as well as the standard errors and t-scores for each coefficient. The F-score and t-scores will tell you whether you can trust your linear model.

To understand the statistical meaning of conducting hypothesis testing (e.g. F-test, t-test) for slopes, read [this webpage](https://onlinecourses.science.psu.edu/stat501/node/297/) at your leisure time. We'll give you a brief overview next.

* The F-test of your linear model is to verify whether at least one of your coefficients is significantly different from zero. Translating that into the *null hypothesis* and *alternative hypothesis*, that is:

    ```
    H0 : β1 = β2 = ... = β10 = 0
    HA : At least one βj ≠ 0 (for j = 1, 2, ..., 10)
    ```

* The t-tests on each coefficient is to check whether the confidence interval for the variable contains zero. If the confidence interval contains zero, it means the null hypothesis for that variable is not rejected. In other words, this particular vaiable is not contributing to your linear model and you can remove it from your formula.

Read the documentations of [StatsModels Linear Regression](https://www.statsmodels.org/dev/regression.html) as well as its [`OLS` class](https://www.statsmodels.org/dev/generated/statsmodels.regression.linear_model.OLS.html) which stands for *ordinary least squares*.

#### In the next cell, analyze `diabetes_data_train` and `diabetes_target_train` with the linear regression model of `statsmodels`. Print the fit summary.

Your output should look like:

![statsmodels regression](../images/statsmodels.png)

In [21]:
# Your code here:
import statsmodels.api as sm
diabetes_data_train = sm.add_constant(diabetes_data_train)
mod = sm.OLS(diabetes_target_train, diabetes_data_train)
res = mod.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.515
Model:                            OLS   Adj. R-squared:                  0.503
Method:                 Least Squares   F-statistic:                     43.58
Date:                Thu, 26 Nov 2020   Prob (F-statistic):           1.71e-58
Time:                        17:18:00   Log-Likelihood:                -2276.8
No. Observations:                 422   AIC:                             4576.
Df Residuals:                     411   BIC:                             4620.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        151.3821      2.631     57.528      0.000     146.209     156.555
x1             0.8797     61.344      0.014      0.989    -119.707     121.467
x2          -260.2680     63.250     -4.115      0.000    -384.601    -135.935
x3           536.4648     68.872      7.789      0.000     401.079     671.851
x4           335.9992     66.289      5.069      0.000     205.692     466.307
x5          -835.7811    422.985     -1.976      0.049   -1667.264      -4.298
x6           465.7577    343.266      1.357      0.176    -209.019    1140.534
x7           136.1955    215.266      0.633      0.527    -286.963     559.354
x8           245.0610    166.246      1.474      0.141     -81.738     571.859
x9           712.3264    174.434      4.084      0.000     369.433    1055.220
x10           64.4862     67.086      0.961      0.337     -67.388     196.360
==============================================================================
Omnibus:                        0.785   Durbin-Watson:                   1.851
Prob(Omnibus):                  0.676   Jarque-Bera (JB):                0.864
Skew:                           0.031   Prob(JB):                        0.649
Kurtosis:                       2.787   Cond. No.                         226.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

#### Interpreting hypothesis testing results

Answer the following questions in the cell below:

1. What is the F-score of your linear model and is the null hypothesis rejected?

1. Does any of the t-tests of the coefficients produce a confidence interval containing zero? What are they?

1. How will you modify your linear reguression model according to the test results above?

In [22]:
# Your answers here:
# What is the F-score of your linear model and is the null hypothesis rejected?
"""The F-score is 43.58 and the Prob (F-statistic) is 1.71e-58 which is less than 0.05. So, if p value is low null must go. So, the hypothesis is rejected
in this case."""

'The F-score is 43.58 and the Prob (F-statistic) is 1.71e-58 which is less than 0.05. So, if p value is low null must go. So, the hypothesis is rejected\nin this case.'

In [23]:
# Does any of the t-tests of the coefficients produce a confidence interval containing zero? What are they?
""" [-119.707     121.467]
    [-209.019    1140.534]
    [-286.963     559.354]
    [-81.738     571.859]
    [-67.388     196.360]
"""

' [-119.707     121.467]\n    [-209.019    1140.534]\n    [-286.963     559.354]\n    [-81.738     571.859]\n    [-67.388     196.360]\n'

In [64]:
# How will you modify your linear reguression model according to the test results above?
# Not sure about this question would like to know the answer
selector = RFE(diabetes_model, n_features_to_select=5, step=1)
selector = selector.fit(data, target)
selector.ranking_

array([6, 2, 1, 1, 1, 1, 4, 3, 1, 5])

# Challenge 3 - Peform Supervised Learning on a Pandas Dataframe

Now that we have dealt with data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [25]:
# Your code here:
auto = pd.read_csv('/Users/iswetha/ironhack/dataV2-labs/module-3/Supervised-Sklearn/data/auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [26]:
# Your code here:
auto.head(5)

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [27]:
# Your code here:
auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

In [28]:
"""There are no numeric columns that are misclassified as object. """

'There are no numeric columns that are misclassified as object. '

What is the newest model year and the oldest model year?

In [29]:
# Your code here:
model_year_unique = auto['model_year'].unique()
model_year_unique

array([70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82])

In [30]:
# Newest Model year
model_year_unique.max()

82

In [31]:
# Oldest Model Year
model_year_unique.min()

70

Check the dataset for missing values and remove all rows containing at least one missing value.

In [32]:
# Your code here:
auto.isna().sum()

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

In [33]:
# removing the rows as it contains some missing values in it.
del_rows = auto.loc[auto['horse_power'].isnull()].index
del_rows
auto = auto.drop(del_rows,axis=0)
auto

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,"\t""ford mustang gl"""
394,44.0,4,97.0,52.0,2130,24.6,82,"\t""vw pickup"""
395,32.0,4,135.0,84.0,2295,11.6,82,"\t""dodge rampage"""
396,28.0,4,120.0,79.0,2625,18.6,82,"\t""ford ranger"""
397,31.0,4,119.0,82.0,2720,19.4,82,"\t""chevy s-10"""

In [34]:
# Confirming still there are any Nan values in the dataset.
auto.isna().sum()

mpg             0
cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [35]:
# Your code here:
auto['cylinders'].value_counts()

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

In [36]:
"""There are 5 possible values of cylinders in the dataset"""

'There are 5 possible values of cylinders in the dataset'

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

*Hint: To separate data for training and test, use the `train_test_split` method we used in previous labs.*

In [37]:
# Your code here:
# Deleting the car_name column from the dataset as it doesnot contain any quantitative data.
auto.drop(columns = 'car_name', inplace = True, axis = 1)
auto

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year
0,18.0,8,307.0,130.0,3504,12.0,70
1,15.0,8,350.0,165.0,3693,11.5,70
2,18.0,8,318.0,150.0,3436,11.0,70
3,16.0,8,304.0,150.0,3433,12.0,70
4,17.0,8,302.0,140.0,3449,10.5,70
...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82
394,44.0,4,97.0,52.0,2130,24.6,82
395,32.0,4,135.0,84.0,2295,11.6,82
396,28.0,4,120.0,79.0,2625,18.6,82
397,31.0,4,119.0,82.0,2720,19.4,82

In [38]:
from sklearn.model_selection import train_test_split
X = auto[auto.columns.difference(['mpg'])]
y = auto['mpg']
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.80, test_size=0.20, random_state=42)

Now we will processed and peform linear regression on this data to predict the mpg for each vehicle. 

#### In the next cell, create an instance of the linear regression model and call it `auto_model`. Fit `auto_model` with your training data.

In [39]:
# Your code here:
auto_model = LinearRegression().fit(X, y)

# Challenge 4 - Evaluate the Model

In addition to evaluating your model with F-test and t-test, you can also use the *Coefficient of Determination* (a.k.a. *r squared score*). This method does not simply tell *yes* or *no* about the model fit but instead indicates how much variation can be explained by the model. Based on the r squared score, you can decide whether to improve your model in order to obtain a better fit.

You can learn about the r squared score [here](). Its formula is:

![R Squared](../images/r-squared.png)

...where:

* yi is an actual data point.
* ŷi is the corresponding data point on the estimated regression line.

By adding the squares of the difference between all yi-ŷi pairs, we have a measure called SSE (*error sum of squares*) which is an application of the r squared score to indicate the extent to which the estimated regression model is different from the actual data. And we attribute that difference to the random error that is unavoidable in the real world. Obviously, we want the SSE value to be as small as possible.

#### In the next cell, compute the predicted *y* based on `X_train` and call it `y_pred`. Then calcualte the r squared score between `y_pred` and `y_train` which indicates how well the estimated regression model fits the training data.

*Hint: r squared score can be calculated using `sklearn.metrics.r2_score` ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html)).*

In [40]:
# Your code here:
# predicting y based on X_train
import numpy as np
y_pred = auto_model.predict(np.array(X_train))

In [41]:
# calcualte the r squared score between y_pred and y_train
from sklearn.metrics import r2_score
r2_score(y_train, y_pred)

0.8097592461597951

In [42]:
"""The regression model fits 80.9% with the training data. """

'The regression model fits 80.9% with the training data. '

#### Our next step is to evaluate the model using the test data. 

We would like to ensure that our model is not overfitting the data. This means that our model was made to fit too closely to the training data by being overly complex. If a model is overfitted, it is not generalizable to data outside the training data. In that case, we need to reduce the complexity of the model by removing certain features (variables).

In the cell below, use the model to generate the predicted values for the test data and assign them to `y_test_pred`. Compute the r squared score of the predicted `y_test_pred` and the oberserved `y_test` data.

In [43]:
# Your code here:
y_test_pred = auto_model.predict(np.array(X_test))

In [44]:
r2_score(y_test, y_test_pred)

0.8050570102541891

#### Explaining the results

The r squared scores of the training data and the test data are pretty close (0.8146 vs 0.7818). This means our model is not overfitted. However, there is still room to improve the model fit. Move on to the next challenge.

# Challenge 5 - Improve the Model Fit

While the most common way to improve the fit of a model is by using [regularization](https://datanice.github.io/machine-learning-101-what-is-regularization-interactive.html), there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [45]:
# Your code here:
X = auto[auto.columns.difference(['mpg'])]
y = auto['mpg']
X_train09, X_test09, y_train09, y_test09 = train_test_split(X, y, train_size = 0.90, test_size=0.10, random_state=42)

Initialize a new linear regression model. Name this model `auto_model09`. Fit the model to the new sample (training) data.

In [46]:
# Your code here:
auto_model09 = LinearRegression().fit(X, y)

Compute the predicted values and r squared score for our new model and new sample data.

In [47]:
# Your code here:
# predicting y based on X_train09
y_pred09 = auto_model.predict(np.array(X_train09))

In [48]:
# calcualte the r squared score between y_pred09 and y_train09
r2_score(y_train09, y_pred09)

0.8045430229948398

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [49]:
# Your code here:
# the model to generate the predicted values for the test data
y_test_pred09 = auto_model.predict(np.array(X_test09))

In [50]:
# calcualte the r squared score between y_test_pred09 and y_test09
r2_score(y_test09, y_test_pred09)

0.8516186445873298

In [51]:
"""R2 score is best fit when it has a value of '1'. When we compare the r2 score for both 20% test size and 10%
test size, we can see there is an improvement in r2 score from 0.8050 to 0.8516"""

"R2 score is best fit when it has a value of '1'. When we compare the r2 score for both 20% test size and 10%\ntest size, we can see there is an improvement in r2 score from 0.8050 to 0.8516"

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [52]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [53]:
# Your code here:
X = auto[auto.columns.difference(['mpg'])]
y = auto['mpg']
selector = RFE(auto_model, n_features_to_select=3, step=1)

In [54]:
X

     acceleration  cylinders  displacement  horse_power  model_year  weight
0            12.0          8         307.0        130.0          70    3504
1            11.5          8         350.0        165.0          70    3693
2            11.0          8         318.0        150.0          70    3436
3            12.0          8         304.0        150.0          70    3433
4            10.5          8         302.0        140.0          70    3449
..            ...        ...           ...          ...         ...     ...
393          15.6          4         140.0         86.0          82    2790
394          24.6          4          97.0         52.0          82    2130
395          11.6          4         135.0         84.0          82    2295
396          18.6          4         120.0         79.0          82    2625
397          19.4          4         119.0         82.0          82    2720

[392 rows x 6 columns]

Fit the model and print the ranking

In [55]:
# Your code here:
selector = selector.fit(X, y)
selector.ranking_

array([1, 1, 2, 4, 1, 3])

In [56]:
pd.DataFrame(selector.transform(X))

        0    1     2
0    12.0  8.0  70.0
1    11.5  8.0  70.0
2    11.0  8.0  70.0
3    12.0  8.0  70.0
4    10.5  8.0  70.0
..    ...  ...   ...
387  15.6  4.0  82.0
388  24.6  4.0  82.0
389  11.6  4.0  82.0
390  18.6  4.0  82.0
391  19.4  4.0  82.0

[392 rows x 3 columns]

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [57]:
# Your code here:
X = selector.transform(X)
y = auto['mpg']
X_train_reduced, X_test_reduced, y_train_reduced, y_test_reduced = train_test_split(X, y, train_size = 0.80, test_size=0.20, random_state=42)

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [58]:
# Your code here: 
auto_model_reduced = LinearRegression().fit(X, y)
auto_model_reduced.score(X, y)

0.7152115352110435

In [59]:
# Compute the y train prdiction for reduced x train
y_pred_red = auto_model_reduced.predict(np.array(X_train_reduced))

In [60]:
# calcualte the r squared score between y_pred_red and y_train_reduced
r2_score(y_train_reduced, y_pred_red)

0.7142717742705633

In [61]:
# Compute the y test prdiction for reduced x test
y_test_pred_red = auto_model_reduced.predict(np.array(X_test_reduced))

In [62]:
# calcualte the r squared score between y_test_pred_red and y_test_reduced
r2_score(y_test_reduced, y_test_pred_red)

0.7172318875479549

#### Conclusion

You may obtain the impression from this lab that without knowing statistical methods in depth, it is difficult to make major progress in machine learning. That is correct. If you are motivated to become a data scientist, statistics is the subject you must be proficient in and there is no shortcut. 

Completing these labs is not likely to make you a data scientist. But you will have a good sense about what are there in machine learning and what are good for you. In your future career, you can choose one of the three tracks:

* Data scientists who need to be proficient in statistical methods.

* Data engineers who need to be good at programming.

* Data integration specialists who are business or content experts but also understand data and programming. This cross-disciplinary track brings together data, technology, and business and will be in high demands in the next decade.