# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [4]:
pokemon.shape

(800, 13)

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
# Your code here:
legendary_pokemon = pokemon.loc[pokemon['Legendary'] == True]
non_legendary_pokemon = pokemon.loc[pokemon['Legendary'] == False]
print(f"Total number of Lengenary Pokemon are: {len(legendary_pokemon)}")
print(f"Total number of Non Lengenary Pokemon are: {len(non_legendary_pokemon)}")

Total number of Lengenary Pokemon are: 65
Total number of Non Lengenary Pokemon are: 735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [6]:
# Your code here:
mean_of_legendary = legendary_pokemon['Total'].mean()
print(f"Mean value for Legendary: {mean_of_legendary}")
std_dev_of_legendary = legendary_pokemon['Total'].std()
print(f"Standard deviation value for Legendary: {std_dev_of_legendary}")
print('\n')
mean_of_non_legendary = non_legendary_pokemon['Total'].mean()
print(f"Mean value for Non Legendary: {mean_of_non_legendary}")
std_dev_of_non_legendary = non_legendary_pokemon['Total'].std()
print(f"Standard deviation value for Non Legendary: {std_dev_of_non_legendary}")

Mean value for Legendary: 637.3846153846154
Standard deviation value for Legendary: 60.93738905315346


Mean value for Non Legendary: 417.21360544217686
Standard deviation value for Non Legendary: 106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [7]:
# Your code here:
from scipy.stats import ttest_ind
ttest_ind(legendary_pokemon.Total,non_legendary_pokemon.Total, equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [8]:
# Your conclusions here:
"""
H0 - There is no difference in the means of the Total in both legendary and non- legendary pokemon.
H1 - There would be a difference in the means of the Total in both legendary and non- legendary pokemon.

From the test we conclude that there is a difference in both the means because the p value is nearly 0 which is less 
than 0.05.
We can reject the null hypothesis
"""

'\nH0 - There is no difference in the means of the Total in both legendary and non- legendary pokemon.\nH1 - There would be a difference in the means of the Total in both legendary and non- legendary pokemon.\n\nFrom the test we conclude that there is a difference in both the means because the p value is nearly 0 which is less \nthan 0.05.\nWe can reject the null hypothesis\n'

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [9]:
# Your code here:
type_1_pokemon = set(pokemon['Type 1'])
lst = list(type_1_pokemon)
lst

occurences = {}
for element in lst:
    occurences[element] = list(pokemon['Type 1']).count(element)
    
occurences

{'Fairy': 17,
 'Fighting': 27,
 'Fire': 52,
 'Ice': 24,
 'Psychic': 57,
 'Normal': 98,
 'Water': 112,
 'Ground': 32,
 'Electric': 44,
 'Grass': 70,
 'Ghost': 32,
 'Poison': 28,
 'Dragon': 32,
 'Dark': 31,
 'Flying': 4,
 'Bug': 69,
 'Rock': 44,
 'Steel': 27}

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [10]:
# Your code here:

water_pokemon = pokemon.loc[pokemon['Type 1'] == 'Water']
water_pokemon # 112 rows

mean_of_water_pokemon = water_pokemon.mean()
print(f"Mean value for water_pokemon: {mean_of_water_pokemon}")
std_dev_of_water_pokemon = water_pokemon.std()
print(f"Standard deviation value for water_pokemon: {std_dev_of_water_pokemon}")

remaining_pokemon = pokemon.loc[pokemon['Type 1'] != 'Water']
remaining_pokemon # 688 rows

mean_of_remaining_pokemon = remaining_pokemon.mean()
print(f"Mean value for remaining_pokemon: {mean_of_remaining_pokemon}")
std_dev_of_remaining_pokemon = remaining_pokemon.std()
print(f"Standard deviation value for remaining_pokemon: {std_dev_of_remaining_pokemon}")

Mean value for water_pokemon: #             303.089286
Total         430.455357
HP             72.062500
Attack         74.151786
Defense        72.946429
Sp. Atk        74.812500
Sp. Def        70.517857
Speed          65.964286
Generation      2.857143
Legendary       0.035714
dtype: float64
Standard deviation value for water_pokemon: #             188.440807
Total         113.188266
HP             27.487026
Attack         28.377192
Defense        27.773809
Sp. Atk        29.030128
Sp. Def        28.460493
Speed          23.019353
Generation      1.558800
Legendary       0.186411
dtype: float64
Mean value for remaining_pokemon: #             372.536337
Total         435.859012
HP             68.802326
Attack         79.790698
Defense        73.988372
Sp. Atk        72.495640
Sp. Def        72.127907
Speed          68.654070
Generation      3.399709
Legendary       0.088663
dtype: float64
Standard deviation value for remaining_pokemon: #             209.928799
Total         121.091682
HP             25.194299
Attack         33.025152
Defense        31.719933
Sp. Atk        33.292537
Sp. Def        27.739292
Speed          29.925907
Generation      1.666119
Legendary       0.284463
dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [11]:
# Your code here:

from scipy.stats import ttest_ind
ttest_ind(water_pokemon.Total,remaining_pokemon.Total, equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [12]:
# Your conclusions here:
"""
H0 - There is no difference in the Mean of water pokemon total points and mean of remaining pokemon total points 
H1 - There is a difference in the means of two total points

The null hypothesis is not rejected because there is actually no difference between them from the p value we can see 
that 0.65 > 0.05 so accept it.

From the analysis I found out :
mean value for water pokemon total is 430.455357
mean value for remaining pokemon total is 435.859012

"""

'\nH0 - There is no difference in the Mean of water pokemon total points and mean of remaining pokemon total points \nH1 - There is a difference in the means of two total points\n\nThe null hypothesis is not rejected because there is actually no difference between them from the p value we can see \nthat 0.65 > 0.05 so accept it.\n\nFrom the analysis I found out :\nmean value for water pokemon total is 430.455357\nmean value for remaining pokemon total is 435.859012\n\n'

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [13]:
# Your code here:
from scipy.stats import ttest_rel
ttest_rel(pokemon.Defense, pokemon.Attack)

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
"""
H0 - The null hypothesis is that both defense and attack scores are equal
H1 - The alternative hypothesis is that both the scores are unequal.

The null hypothesis is rejected, because the p values(1.7140303479358558e-05) is less than 0.05 and the statistic is also negative which tells
us there is a difference between them.
"""

'\nH0 - The null hypothesis is that both defense and attack scores are equal\nH1 - The alternative hypothesis is that both the scores are unequal.\n\nThe null hypothesis is rejected, because the p values(1.7140303479358558e-05) is less than 0.05 and the statistic is also negative which tells\nus there is a difference between them.\n'

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [15]:
# For reference I have used it to compare them
mean_of_special_defence = pokemon['Sp. Def'].mean()
print(f"Mean value for special_defence: {mean_of_special_defence}")

mean_of_special_attack = pokemon['Sp. Atk'].mean()
print(f"Mean value for special_attack: {mean_of_special_attack}")

Mean value for special_defence: 71.9025
Mean value for special_attack: 72.82

In [16]:
# Your code here:
ttest_rel(pokemon['Sp. Def'],pokemon['Sp. Atk'])

Ttest_relResult(statistic=-0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [17]:
# Your conclusions here:
"""
H0 -  There is no difference at the mean of differences
H1 -  There is a difference at the mean of differences

But, in this case the null hypothesis is accepted because the p values(0.39) is greater than 0.05, and from the analysis
I can see very small difference between them.
"""

'\nH0 -  There is no difference at the mean of differences\nH1 -  There is a difference at the mean of differences\n\nBut, in this case the null hypothesis is accepted because the p values(0.39) is greater than 0.05, and from the analysis\nI can see very small difference between them.\n'

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [18]:
# Your code here:
from scipy.stats import ttest_1samp
ttest_1samp(pokemon['Sp. Def'] - pokemon['Sp. Atk'], 0)
   
"""The results for both the cases using ttest_rel and ttest_lsamp gives the same result"""

'The results for both the cases using ttest_rel and ttest_lsamp gives the same result'

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [28]:
# Your code here:
legendary_or_not = pd.Categorical(['legendary_pokemon.Legendary', 'non_legendary_pokemon.Legendary'])
water_or_not = pd.Categorical(['water_pokemon.Type 1', 'remaining_pokemon.Type 1'])

contingency_table = pd.crosstab(legendary_or_not, water_or_not)
contingency_table

col_0,remaining_pokemon.Type 1,water_pokemon.Type 1
row_0,,
legendary_pokemon.Legendary,0,1
non_legendary_pokemon.Legendary,1,0

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [25]:
# Your code here:
import scipy
chi2, p, dof, ex = scipy.stats.chi2_contingency(contingency_table, correction=False)
print(chi2)
print(p)
print(dof)
print(ex)

2.0
0.15729920705028105
1
[[0.5 0.5]
 [0.5 0.5]]

Based on a 95% confidence, should we reject the null hypothesis?

In [21]:
# Your answer here:
"""Based on the 95% confidence we don't reject the null hypothesis as the p value is greater than 0.05"""