# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
# Your code here:
employees = pd.read_csv('/Users/iswetha/ironhack/dataV2-labs/module-2/Hypothesis-Testing/Employees_advanced.csv')
employees

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
...,...,...,...,...,...,...,...,...
33697,"ZYLINSKA, KLAUDIA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33698,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33699,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33700,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33701,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DAIS,F,Salary,NaN,126732.0,NaN

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:

employees['Annual Salary'].head()

0     72510.0
1     93354.0
2         NaN
3    132972.0
4     90024.0
Name: Annual Salary, dtype: float64

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
employees.isnull()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,False,False,False,False,False,True,False,True
1,False,False,False,False,False,True,False,True
2,False,False,False,False,False,False,True,False
3,False,False,False,False,False,True,False,True
4,False,False,False,False,False,True,False,True
...,...,...,...,...,...,...,...,...
33697,False,False,False,False,False,True,False,True
33698,False,False,False,False,False,True,False,True
33699,False,False,False,False,False,True,False,True
33700,False,False,False,False,False,True,False,True
33701,False,False,False,False,False,True,False,True

In [5]:
print(f"Total NaN in a datframe are : {employees.isnull().sum().sum()}")

Total NaN in a datframe are : 59230

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [6]:
# Your code here:
hourly = employees.loc[employees['Salary or Hourly'] == 'Hourly']
print(f"Number of rows of hourly: {len(hourly)}")
salary = employees.loc[employees['Salary or Hourly'] == 'Salary']
print(f"Number of rows of salary: {len(salary)}")

Number of rows of hourly: 8174
Number of rows of salary: 25528

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [7]:
# Your code here:
employees.pivot_table(index=['Department'], aggfunc={'Department':'count'})

                     Department
Department
ADMIN HEARNG                 38
ANIMAL CONTRL                75
AVIATION                   1856
BOARD OF ELECTION           111
BOARD OF ETHICS               8
BUDGET & MGMT                44
BUILDINGS                   258
BUSINESS AFFAIRS            167
CITY CLERK                   88
CITY COUNCIL                362
COPA                        123
CULTURAL AFFAIRS             74
DAIS                       1033
DISABILITIES                 28
FAMILY & SUPPORT            656
FINANCE                     544
FIRE                       4627
HEALTH                      467
HOUSING                      66
HOUSING & ECON DEV          154
HUMAN RELATIONS              17
HUMAN RESOURCES              75
INSPECTOR GEN                95
LAW                         398
LICENSE APPL COMM             1
MAYOR'S OFFICE              104
OEMC                       1737
POLICE                    13848
POLICE BOARD                  2
PROCUREMENT                  84
PUBLIC LIBRARY             1088
PUBLIC SAFETY ADMIN         244
STREETS & SAN              2175
TRANSPORTN                 1113
TREASURER                    28
WATER MGMNT                1914

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [8]:
# For reference I have used it for the solution. Please Ignore.
hourly.loc[employees['Hourly Rate'] <= 30]

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.00
25,"AGUILAR, ANDRIA",ALDERMANIC AIDE,CITY COUNCIL,P,Hourly,20.0,NaN,25.00
32,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
36,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
49,"ABDUL-SHAKUR, TAHIR J",POOL MOTOR TRUCK DRIVER,STREETS & SAN,P,Hourly,10.0,NaN,29.96
...,...,...,...,...,...,...,...,...
33553,"ZENI, MOHAMMAD S",FLEET SERVICES ASST,DAIS,F,Hourly,40.0,NaN,25.47
33577,"ZHEN, CHRISTINE",LIBRARY CLERK - HOURLY,PUBLIC LIBRARY,P,Hourly,20.0,NaN,18.01
33590,"ZIELINSKI, KAREN L",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
33669,"ZUNIGA JR, JAMES",FLEET SERVICES ASST,DAIS,F,Hourly,40.0,NaN,25.47
33676,"ZUNIGA, THOMAS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,25.95

In [9]:
# Your code here:
from scipy.stats import ttest_1samp

# null hypothesis is all hourly workers have same $30/hr
# The alternative hypothesis is the hourly workers have different from $30/hr
mean = hourly['Hourly Rate'].mean()
print(f"Mean of hourly rate: {mean}")
std_dev = hourly['Hourly Rate'].std()
print(f"Standard Deviation of hourly rate: {std_dev}")

stat, pval = ttest_1samp(hourly['Hourly Rate'], 30)
print(pval)
print(stat)

"""The null hypothesis is rejected because the p-value is very low"""

Mean of hourly rate: 34.58644971862046
Standard Deviation of hourly rate: 13.285542951174824
3.825475847673794e-202
31.211500329216044

'The null hypothesis is rejected because the p-value is very low'

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [10]:
# For reference I have used it
police_salary = salary.loc[((employees['Department'] == 'POLICE') | (employees['Department'] == 'POLICE BOARD'))]
police_salary

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
6,"AGNEW, MELISSA M",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
7,"AGOSTA, JOSEPH J",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,103932.0,NaN
9,"AGOSTINI, LUIS R",ASST DIR,POLICE,F,Salary,NaN,95736.0,NaN
...,...,...,...,...,...,...,...,...
33696,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
33697,"ZYLINSKA, KLAUDIA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33698,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33699,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33700,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

In [11]:
# For reference I have used for the solution.
salary.loc[((employees['Annual Salary'] > 86000) & ((employees['Department'] == 'POLICE') | (employees['Department'] == 'POLICE BOARD')))]

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
6,"AGNEW, MELISSA M",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
7,"AGOSTA, JOSEPH J",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,103932.0,NaN
9,"AGOSTINI, LUIS R",ASST DIR,POLICE,F,Salary,NaN,95736.0,NaN
...,...,...,...,...,...,...,...,...
33683,"ZURAWSKI, MARY E",POLICE OFFICER,POLICE,F,Salary,NaN,96060.0,NaN
33689,"ZWIT, JEFFREY J",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33693,"ZYDEK, BRYAN",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
33699,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33700,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

In [12]:
# Your code here:
# Null Hypothesis is that Department of POLICE having the mean salary of $86000/year
# The alternate hypothesis is that there are total of 13826 rows which has a department of police out of which
# only 8421 getting the salary > 86000/year.

mean = police_salary['Annual Salary'].mean()
print(f"Mean of Annual Salary for Police department: {mean}")
std_dev = police_salary['Annual Salary'].std()
print(f"Standard Deviation of Annual Salary for Police department: {std_dev}")

stat, pval = ttest_1samp(police_salary['Annual Salary'], 86000)
print(pval/2)
print(stat)

"""The null hypothesis is rejected because the p-value is very low"""

Mean of Annual Salary for Police department: 88834.25632865615
Standard Deviation of Annual Salary for Police department: 17995.22422042555
5.894410139217735e-76
18.519537603296808

'The null hypothesis is rejected because the p-value is very low'

Using the `crosstab` function, find the department that has the most hourly workers.

In [13]:
# For reference
department_hourly = hourly.pivot_table(index=['Department'],values = ['Salary or Hourly'], aggfunc={'Salary or Hourly':'count'})
department_hourly['Salary or Hourly'].sort_values(ascending = False)

Department
STREETS & SAN          1846
WATER MGMNT            1558
AVIATION               1214
OEMC                   1077
DAIS                    745
TRANSPORTN              726
FAMILY & SUPPORT        357
PUBLIC LIBRARY          356
CITY COUNCIL             74
PUBLIC SAFETY ADMIN      48
LAW                      48
FINANCE                  45
POLICE                   24
MAYOR'S OFFICE           17
ANIMAL CONTRL            12
CULTURAL AFFAIRS         10
BUSINESS AFFAIRS          7
HOUSING & ECON DEV        3
BUDGET & MGMT             2
PROCUREMENT               2
HEALTH                    2
DISABILITIES              1
Name: Salary or Hourly, dtype: int64

In [14]:
# Your code here:
pd.crosstab(hourly['Department'], hourly['Salary or Hourly']).sort_values(by = 'Hourly', ascending = False)

Salary or Hourly     Hourly
Department
STREETS & SAN          1846
WATER MGMNT            1558
AVIATION               1214
OEMC                   1077
DAIS                    745
TRANSPORTN              726
FAMILY & SUPPORT        357
PUBLIC LIBRARY          356
CITY COUNCIL             74
PUBLIC SAFETY ADMIN      48
LAW                      48
FINANCE                  45
POLICE                   24
MAYOR'S OFFICE           17
ANIMAL CONTRL            12
CULTURAL AFFAIRS         10
BUSINESS AFFAIRS          7
HOUSING & ECON DEV        3
HEALTH                    2
PROCUREMENT               2
BUDGET & MGMT             2
DISABILITIES              1

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [15]:
# For reference
streets_san_hourly = hourly.loc[hourly['Department'] == 'STREETS & SAN']  # 1846 rows

# hourly.loc[((hourly['Department'] == 'STREETS & SAN') & (hourly['Hourly Rate'] >= 35))] # 1389 rows
streets_san_hourly

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
15,"AGSALUD, FERNAN S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,40.78
16,"AGSALUD JR, JUANITO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
26,"AGUILAR, EFRAIN",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
49,"ABDUL-SHAKUR, TAHIR J",POOL MOTOR TRUCK DRIVER,STREETS & SAN,P,Hourly,10.0,NaN,29.96
65,"ABRAMS, SAMUEL A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,37.45
...,...,...,...,...,...,...,...,...
33623,"ZIZUMBO, JOSE N",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,38.01
33624,"ZIZUMBO, LUIS",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,37.45
33667,"ZUMMO, ROBERT J",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,37.45
33668,"ZUNICH, JONATHAN G",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
33676,"ZUNIGA, THOMAS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,25.95

In [16]:
# Your code here:

# Null hypothesis is that the hourly wage for department with most hourly workers is greater than equal to $35/year
# The alternative hypothesis is its less than $35/hour
mean = streets_san_hourly['Hourly Rate'].mean()
print(f"Mean of Hourly rate for STREETS & SAN department: {mean}")
std_dev = streets_san_hourly['Hourly Rate'].std()
print(f"Standard Deviation  of Hourly rate for STREETS & SAN department: {std_dev}")

stat, pval = ttest_1samp(streets_san_hourly['Hourly Rate'], 35)
print(pval/2)
print(stat)

"""The null hypothesis is rejected because the p-value is very low"""

Mean of Hourly rate for STREETS & SAN department: 35.55229685807062
Standard Deviation  of Hourly rate for STREETS & SAN department: 5.9321668745302905
3.2902372218867895e-05
4.000138803968834

'The null hypothesis is rejected because the p-value is very low'

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [17]:
# Your code here:
from scipy.stats import t
from scipy.stats import sem
mean = hourly['Hourly Rate'].mean()
std_err = sem(hourly['Hourly Rate'])
degree_of_freedom = (len(hourly['Hourly Rate']) - 1)

# interval(alpha, df, loc=0, scale=1)
t.interval(0.95, df = degree_of_freedom, loc = mean, scale = std_err)

(34.29839539204361, 34.874504045197305)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [18]:
# Your code here:
from scipy.stats import t
from scipy.stats import sem

salary_emp_police = police_salary.loc[police_salary['Salary or Hourly'] == 'Salary']
salary_emp_police
mean = salary_emp_police['Annual Salary'].mean()
std_err = sem(salary_emp_police['Annual Salary'])
degree_of_freedom = (len(salary_emp_police['Annual Salary']) - 1)

# interval(alpha, df, loc=0, scale=1)
t.interval(0.95, df = degree_of_freedom, loc = mean, scale = std_err)

(88534.27439465115, 89134.23826266115)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [19]:
# Your code here: