# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
# your code here

admissions = pd.read_csv('/Users/iswetha/ironhack/dataV2-labs/module-2/Advanced-Pandas/Admission_Predict.csv')
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [3]:
# your code here
print(admissions.columns)
admissions.columns.str.replace(' ', '')
admissions

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

Let's evaluate the dataset by looking at the `head` function.

In [4]:
# your code here
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [5]:
# your code here
admissions.isnull()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
395,False,False,False,False,False,False,False,False,False
396,False,False,False,False,False,False,False,False,False
397,False,False,False,False,False,False,False,False,False
398,False,False,False,False,False,False,False,False,False
399,False,False,False,False,False,False,False,False,False

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [6]:
# your code here
admissions = admissions.set_index('Serial No.')
admissions

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
396,324,110,3,3.5,3.5,9.04,1,0.82
397,325,107,3,3.0,3.5,9.11,1,0.84
398,330,116,4,5.0,4.5,9.45,1,0.91
399,312,103,3,3.5,4.0,8.78,0,0.67
400,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [7]:
admissions.groupby(['GRE Score','CGPA']).size()

GRE Score  CGPA
290        7.46    1
           7.56    1
293        7.80    1
294        7.36    1
           7.64    1
                  ..
340        9.60    2
           9.66    1
           9.74    1
           9.91    1
           9.92    1
Length: 385, dtype: int64

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [8]:
# your code here
admissions
admissions.drop_duplicates(subset = ['GRE Score','CGPA'],inplace = True)
admissions
admissions = admissions.reset_index()
admissions = admissions.set_index(['GRE Score','CGPA'])
admissions

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
324,8.87,2,107,4,4.0,4.5,1,0.76
316,8.00,3,104,3,3.0,3.5,1,0.72
322,8.67,4,110,3,3.5,2.5,1,0.80
314,8.21,5,103,2,2.0,3.0,0,0.65
...,...,...,...,...,...,...,...,...
329,9.23,395,111,4,4.5,4.0,1,0.89
324,9.04,396,110,3,3.5,3.5,1,0.82
330,9.45,398,116,4,5.0,4.5,1,0.91
312,8.78,399,103,3,3.5,4.0,0,0.67
333,9.66,400,117,4,5.0,4.0,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [9]:
# your code here
cgpa_admission = admissions.iloc[admissions.index.get_level_values('CGPA') > 9]
cgpa_research = cgpa_admission.loc[cgpa_admission['Research'] == 1]
cgpa_research

                Serial No.  TOEFL Score  University Rating  SOP  LOR   \
GRE Score CGPA
337       9.65           1          118                  4  4.5   4.5
330       9.34           6          115                  5  4.5   3.0
328       9.10          13          112                  4  4.0   4.5
          9.50          23          116                  5  5.0   5.0
334       9.70          24          119                  5  5.0   4.5
...                    ...          ...                ...  ...   ...
326       9.12         393          112                  4  4.0   3.5
329       9.23         395          111                  4  4.5   4.0
324       9.04         396          110                  3  3.5   3.5
330       9.45         398          116                  4  5.0   4.5
333       9.66         400          117                  4  5.0   4.0

                Research  Chance of Admit
GRE Score CGPA
337       9.65         1              0.92
330       9.34         1              0.90
328       9.10         1              0.78
          9.50         1              0.94
334       9.70         1              0.95
...                  ...               ...
326       9.12         1              0.84
329       9.23         1              0.89
324       9.04         1              0.82
330       9.45         1              0.91
333       9.66         1              0.95

[101 rows x 7 columns]

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [10]:
# your code here
cgpa_sop = cgpa_admission.loc[cgpa_admission['SOP'] < 3.5]
cgpa_sop

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
338,9.40,33,118,4,3.0,4.5,1,0.91
327,9.02,67,114,3,3.0,3.0,0,0.61
326,9.11,148,114,3,3.0,3.0,1,0.83
324,9.01,230,111,4,3.0,3.0,1,0.82

In [11]:
cgpa_sop['Chance of Admit '].mean()

0.7925

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [12]:
import numpy as np
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    # your code here
    average = col.mean()
    std_dev = col.std()
    lst = []
    for element in col:
        numerator = element - average
        denominator = std_dev
        result = numerator / denominator
        lst.append(result)
        
    return lst

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [14]:
# your code here
admissions['CGPA'] = admissions.index.get_level_values('CGPA')
admissions['GRE Score'] = admissions.index.get_level_values('GRE Score')
admissions['CGPA_std'] = standardize(admissions['CGPA'])
admissions['GRE_std'] = standardize(admissions['GRE Score'])
admissions['LOR_std'] = standardize(admissions['LOR '])
admissions

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA,GRE Score,CGPA_std,GRE_std,LOR_std
GRE Score,CGPA,,,,,,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92,9.65,337,1.747900,1.753381,1.152533
324,8.87,2,107,4,4.0,4.5,1,0.76,8.87,324,0.453047,0.628727,1.152533
316,8.00,3,104,3,3.0,3.5,1,0.72,8.00,316,-0.991211,-0.063367,0.040440
322,8.67,4,110,3,3.5,2.5,1,0.80,8.67,322,0.121034,0.455704,-1.071653
314,8.21,5,103,2,2.0,3.0,0,0.65,8.21,314,-0.642597,-0.236391,-0.515607
...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,9.23,395,111,4,4.5,4.0,1,0.89,9.23,329,1.050671,1.061286,0.596486
324,9.04,396,110,3,3.5,3.5,1,0.82,9.04,324,0.735259,0.628727,0.040440
330,9.45,398,116,4,5.0,4.5,1,0.91,9.45,330,1.415886,1.147798,1.152533
312,8.78,399,103,3,3.5,4.0,0,0.67,8.78,312,0.303641,-0.409414,0.596486
333,9.66,400,117,4,5.0,4.0,1,0.95,9.66,333,1.764500,1.407334,0.596486

We will generate the decision choice at random using the code below. Please run the cell.

In [15]:
# Libraries
from random import choices

In [18]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])
# decision_choice

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [ ]:
# your code here
# def lookup(col):
    

# lookup()

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [ ]:
# your code here

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [ ]:
# your code here

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [ ]:
# your code here

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [ ]:
# your code here